.opacity {
  opacity: .6;
  }
  .card {
    min-height: 480px;
  }
  .gascard {
    min-height: 420px;
  }
  .icon {
    position: relative;
    top: 10px;
  }
  .histlink {
    font-size: 15px;
    color: black;
  }
  /* .imgH{
    min-height: 150px;
  } */

  /* truncate */